{% extends 'base.html' %}

    {% block header %}
    <h1>🧾 About Contact API</h1>
    {% endblock %}

{% block body %}
<p>Welcome to the Contact API, a simple and efficient RESTful API built with Flask for managing contact information. This API allows users to Add, View, Update, Delete, and Search contacts. It is ideal for developers building contact management systems, CRM platforms, or any application needing basic contact storage.</p>
<h2 class="Features">🚀 Features</h2>
<p>• Add Contact:Create new contact records with details like name, phone number, email, etc.</p>
<p>• View Contacts: Fetch all contacts or view details of a specific contact by ID.</p>
<p>• Update Contact: Modify existing contact information with a PUT or PATCH request.</p>
<p>• Delete Contact: Remove a contact permanently using the DELETE method.</p>
<p>• Search Contact: Search contacts by name, email, or phone number using query parameters.</p>

<h2>☎️Contact Info</h2>
<p>Developed by Jegadeesh Nandakumar.</p>
<p>Contact: <a href="https://github.com/Jxck-007">Github</a></p>
{% endblock %}