{% extends 'base.html' %}

{% block body %}

{% with msg= get_flashed_messages() %}
    {% if msg %}
        {% for _ in msg %}
            <p>{{_}}</p>
        {% endfor %}
    {% endif %}
{%  endwith %}

<form method="get" action="{{url_for('view')}}">
    <label for="search">Search Bar</label>
    <input type="text" name="search" placeholder="search by name or email">
    <button type="submit" id="Submit"> Search </button>
    <button type="reset" id="Reset">Clear</button>
</form>

 <table border="1" cellpadding="8" cellspacing="0">
    <thead>
    <tr>
    <th>Contact</th>
    <th>Name</th>
    <th>Number</th>
    <th>Email</th>
    <th>Address</th>
    </tr>
    </thead>
    <tbody>
{% for _ in contact %}
       
            <tr>
                <td>{{_.id}}</td>
                <td>{{_.name}}</td>
                <td>{{_.number}}</td>
                <td>{{_.email}}</td>
                <td>{{_.address}}</td>
            </tr>
        
{% endfor %}
</tbody>
</table>
{% endblock %}
